@font-face {
    font-family: "RM";
    src: url("./assets/get_schwifty.ttf");
  }
  

.H1Tittle {
    text-align: center;
    font-size: 4rem;
    margin: 2rem;
    font-family: 'RM';
    color: #ccff00;
    padding-top: 2rem;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    margin-right: 4rem;
    margin-left: 4rem;
    align-items: center;
}

.itemsStart1 input{
    padding: .5rem;
    border-radius: .4rem;
}

.itemsStart3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}

.x{
    color: beige;
}

.flexCenter {
    display: flex;
    justify-content: center;
}

.flexCenter input {
    border-radius: 1rem;
}

.flexGrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.flexBetween button{
    border: 1px solid white;
    padding: .6rem 1.2rem;
    border-radius: .4rem;
}

.Card {
    margin: 2.5rem;
    padding: 1rem;
    border: 1px solid white;
}

.h2Style {
    font-size: 1.5rem;
}

.flexInfo {
    display: flex;
    justify-content: space-between;
}
