@font-face {
  font-family: "RM";
  src: url("./assets/get_schwifty.ttf");
}

h1 {
  font-family: "RM";
}

.listaUl {
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
    justify-content: center;
}

.Button-Link.active{
    color: #ccff00;
}

.Nav-Link {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.Header-Title {
    font-size: 3rem;
    text-align: center;
    margin: 3rem;
}

.Button-Link {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .Button-Link:hover {
    border-color: #646cff;
  }
  .Button-Link:focus,
  .Button-Link:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .logoDiv {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  button {
    color: white;
  }


  @media (prefers-color-scheme: ligth) {
    a:hover{
        color: #747bff;
    } 
    .Button-Link {
        background-color: #f9f9f9;
    }
  }

